$color-blue:#336799;
$color-blue-hover:#29547c;
$color-light-grey: #f2f2f2;
$color-dark-grey: #4e4d49;
$color-text-light-grey: #acacac;
$color-text-dark-grey: #55595c;
$color-bottom-border-light-grey: #d7d7d7;