* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  margin-bottom: .5rem;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 24px;
  margin-top: 1.5rem;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 18pt;
}