.area-show-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  
}

.area-show-header-path-link {
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
}

.area-show-header-path-link * {
  color: $color-dark-grey;
}

li .area-show-header-path-link:hover {
  color: $color-dark-grey;
  text-decoration: underline;
}

.area-show-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.area-show-sidebar {
  background: $color-light-grey;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  margin-right: 25px
}

.area-show-sidebar li {
  line-height: 1.2;
}

.area-show-main-content {
  width: 100%;
  max-width: 950px;
}

.area-show-attribute {
  display: flex;
  flex-direction: row;
  padding: 3px 0px 3px 0px;
}

.area-show-attribute-left{
  min-width: 100px;
}