.area-index-main h1 {
  font-size: 24pt;
  border-bottom: 6px solid $color-blue;
}

.area-index-list {
  padding-top: 16px;
  column-count: 4;
  line-height: 1.25;
}

.area-parent {
  font-size: 12pt;
}

.area-child {
  text-indent: 10px; 
  font-size: 11pt;
}