.form-char-limit {
  text-align: right;
  color: $color-text-light-grey;
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 5px;
}

.area-form-page {
  max-width: 800px;
  margin: auto;
}

.area-form-page textarea {
  min-height: 75px;
}

.area-form-page input[type=submit] {
  max-width: 150px;
  margin-right: 30px; 
}

.area-form-header {
  @extend .flex-row;
  align-items: flex-end;
  margin-bottom: .5rem;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-bottom-border-light-grey;
}

.area-form-header h1 {
  margin-right: 30px;
  margin-bottom: 0;
}

.lat-long {
  @extend .flex-row;
  margin-bottom: 25px;
}

.lat-long > * {
  margin-right: 50px;
  width: 200px;
}

.form-submission-buttons a {
  font-weight: 700;
}

