.area-index-list {
  padding-top: 16px;
  column-count: 4;
  line-height: 1.25;
}

.area-parent {
  font-size: 11pt;
  font-weight: 600;
  text-decoration-line: none;
}

.area-child {
  text-indent: 10px; 
  font-size: 11pt;
}