.area-index-list {
  padding-top: 16px;
  column-count: 4;
  line-height: 1.25;
}

.area-index-list-header {
  align-items: baseline;

  p {
    margin: 0px 10px;
  }
}

.area-index-area-component {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
 
.area-parent {
  font-size: 11pt;
  font-weight: 600;
  text-decoration-line: none;
}

.area-child a{
  text-indent: 10px; 
  font-size: 11pt;
}

.area-index-row {
 @extend .flex-row;
 align-items: baseline;

  a {
    display: block;
    white-space:nowrap;
  }
}

.area-index-dotted-border {
  border-bottom: 1px dashed $color-bottom-border-light-grey;
  width: 100%;
  margin: 0px 5px;
}

.area-count {
  font-size: 9pt;
  color: $color-dark-grey;
}

