.form-char-limit {
  text-align: right;
  color: $color-text-light-grey;
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 5px;
}

.form-page {
  max-width: 800px;
  margin: auto;
}


.form-header {
  @extend .flex-row;
  align-items: baseline;
  margin-bottom: .5rem;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-bottom-border-light-grey;
}

.form-header h1 {
  margin-right: 30px;
  margin-bottom: 0;
}

.lat-long {
  @extend .flex-row;
  margin-bottom: 25px;
}



.form-submission-buttons a {
  font-weight: 700;
}

.form-submission-buttons input[type=submit] {
  max-width: 150px;
  margin-right: 30px; 
} 

.form-component textarea {
  min-height: 75px;
}

.route-form-grade .form-component {
  margin-right: 10px;
}

.route-form-route-grade-safety > * {
  margin-right: 50px;
}


.route-form-first-ascensionist {
  width: 100%;
}

.route-form-first-ascent .route-form-first-ascensionist {
  margin-right: 50px;
}
.route-form-first-ascent input[type=date] {
  margin-right: 0px;
}

.route-form-first-ascent input[type=text] {
  min-width: 200px;
}

.route-form-route-type {
  margin-bottom: .5rem;
}

.upload-photos li {
  list-style: disc inside;
  margin-bottom: 0.5rem;
}

