.area-show-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  
}

.area-show-header-path-link {
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
  font-size: 12px;
}

.area-show-header-path-link * {
  color: $color-dark-grey;
}

li .area-show-header-path-link:hover {
  color: $color-dark-grey;
  text-decoration: underline;
}

.area-show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-bottom-border-light-grey;
  margin-bottom: 1rem;
}

.area-show-sidebar {
  background: $color-light-grey;
  box-sizing: border-box;
  padding: 15px;
  width: 25vw;
  min-width: 175px;
  max-width: 300px;
  margin-right: 25px
}

.area-show-sidebar li {
  line-height: 1.2;
}

.area-show-main-content {
  width: 100%;
  max-width: 950px;
}

.area-show-attribute {
  display: flex;
  flex-direction: row;
  padding: 3px 0px 3px 0px;
}

.area-show-attribute-left{
  min-width: 100px;
}

.area-show-options {
  @extend .flex-col;
  align-items: flex-end;
  font-size: 12px;
  min-width: 114px;
  margin-left: 10px;
}

.area-show-options > * {
  margin-bottom: 10px;
}

.area-show-options * {
  cursor: pointer;
}

.area-show-dropdown-button {
  cursor: pointer;
  margin: 0;
}

.area-show-dropdown-button:hover, .area-show-dropdown-button:focus {
  text-decoration: underline;
}

.dropdown {
  position: relative;
}


.area-show-dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  margin-top: 5px;
  
  background-color:white;
  min-width: 100px;
  padding: 10px 20px;
  border: 1px solid rgb(213, 212, 212);
  z-index: 1;
}

.dropdown-content-show {
  display: block;
}

.show-photos {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

.show-photos-photo {
  width: 200px;
  height: 150px;
  display: flex;
  margin: 16px 5px;
  align-content: center;
  justify-content: center;
}

.show-photos-photo img {
  max-width: 200px;
  max-height: 150px;
  border: 1px solid black
}