.footer-main {
  background: black;
}
.footer-container {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.footer-container img {
  height: 50px;
  margin: 10px;
}
