.footer-main {
  background: black;
}

.footer-container {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px;

  img {
    height: 25px;
    margin: 10px;
  }

  img:hover {
    opacity: 0.75;
  }
}