.header-main {
  background: black;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.login-signup-buttons {
  display: flex;
  flex-direction: row;
  width: 180px;
}

.session-button  {
  height: 31px;
  width: 60px;
  padding: 5px;
  font-size: 10pt;
  font-weight: bold;
  margin: 5px;
}

.session-button:focus {
  outline:0;
}

.session-button:hover {
  background: #254c70
}