.area-index-header {
  @extend .flex-row;
  align-items: flex-start;
  padding: 20px 0;
}

.new-routes-list-main {
  padding: 20px;
}

.new-routes-list {
  > li:nth-child(even) {
    background: $color-light-grey;
  }
}

.new-routes-list-info {
  @extend .flex-row;
  li {
    line-height: 30px;
    width: 125px;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
}

.main-carousel {
  height: 300px;
  width: 500px;
  background: red;
  margin-right: 20px;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.carousel-dots {
  @extend .flex-row;
  justify-content: center;
  position: relative;
  top: -30px;

  li {
    content: "Check";
    background: $color-light-grey;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid black;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }
  
  li + li {
    margin-left: 5px;
  }
  
  .checked-dot {
    background: black;
    border: 1px solid $color-light-grey;
  }
}