.new-routes-list-main {
  padding: 20px;
}

.new-routes-list {
  > li:nth-child(even) {
    background: $color-light-grey;
  }
}

.new-routes-list-info {
  @extend .flex-row;
  li {
    line-height: 30px;
    width: 100px;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
}