.header-main {
  background: black;
  padding: 10px 20px ;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-right-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-rei-logo {
  padding: 7px 0px 7px 13px;
  margin-left: 10px;
  border-left: 1px solid #4e4d49;
}

.login-signup-buttons {
  display: flex;
  flex-direction: row;
}

.session-button  {
  height: 31px;
  width: 60px;
  padding: 5px;
  font-size: 10pt;
  margin: 5px;
}

.session-button:focus {
  outline:0;
}

.session-button:hover {
  background: #254c70
}

.username-logout-button {
  @extend .flex-row;
  justify-content: center;
  align-items: center;
}

.username {
  color: white;
  margin: 0 20px 0 0;
}
