.rei-nav {
  background: #2A2A2A;
}

.rei-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}

.rei-nav-list a {
  color: rgb(181, 181, 181);
  padding: 8px 8px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10pt;
  font-weight: 600;
  text-decoration: none;
}

.rei-nav-list a:hover {
  color: white;
}