.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.5s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-child {
  max-width: 700px;
  max-height: 90vh;
  background: white;
  border-radius: 5px;
  padding: 10px;
  -webkit-animation: scrollDown 0.4s;
  animation: scrollDown 0.5s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@keyframes scrollDown {
 from {
   margin-top: -200%
 }

 to {
   margin-top: 0%
 }
}

@keyframes fadeIn {
 from {
   opacity: 0
 }

 to {
   opacity: 1
 }
}

@-webkit-keyframes scrollDown {
 from {
   margin-top: -200%
 }

 to {
   margin-top: 5%
 }
}

@-webkit-keyframes fadeIn {
 from {
   opacity: 0
 }

 to {
   opacity: 2
 }
}

.modal-exit-button {
  margin-left: auto;
  color: grey;
  font-size: 30px;
  font-weight: 100; 
  cursor: pointer;
  line-height: 0.5;
  margin-bottom: 10px;
}

.modal-exit-button:hover {
  color: rgb(185, 185, 185)
}