.route-finder-results {
  margin: 20px 0px;

  > ul:nth-child(odd) {
    background: $color-light-grey;
  }
}

.route-finder-info {
  justify-content: space-evenly;
  padding: 5px 0px;
}

.route-finder-info-attr {
  width: 100px;
}

.route-finder-info-name {
  width: 200px;
}