.route-finder-form {
  width: 250px;
  height: 260px;
  background: $color-light-grey;
  padding: 20px;
} 

.route-finder-form-component {
  margin: 0 10px 10px 0;

  label {
    margin-right: 10px;
  }

  input[type=checkbox] {
    margin: 10px 5px 0 0;
  }
}

.route-finder-form h4 {
  margin: 5px 0;;
}

.route-finder-form-rgrade {
  > * {
    margin-right: 10px;
  }
  select {
    margin-top: 5px;
  }
}