

.session-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 300px;
}

.session-page li {
  list-style: circle inside;
}

.session-page > * {
  margin: 5px;
}

.session-form-exit-button {
  color: grey;
  font-size: 24pt;
  cursor: pointer;
  align-self: flex-end;
}

.session-form-exit-button:hover {
  color: rgb(185, 185, 185)
}

.session-page h1{
  font-size: 24pt;
  font-weight: bolder;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16pt;
  
}

.session-form-other-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

input[type=text], input[type=password] {
  font-size: 14pt;
  padding: 0px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 10px;
}

input[type=submit] {
  font-size: 16pt;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: $color-blue;
  color: white;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}