// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Roboto Condensed', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.rei-nav {
  background: rgb(40, 40, 40);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.rei-nav a {
  color: rgb(181, 181, 181);
  padding: 10px;
  font-size: 10pt;
  font-weight: bolder;
  text-decoration: none;
}

.header-container {
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.session-button {
  background: #336799;
  color: white;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  font-size: 10pt;
  font-weight: bold;
}

.logout-button {
  background: #336799;
  color: white;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  font-size: 10pt;
  font-weight: bold;
}

.session-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-page h1{
  font-size: 36pt;
  font-weight: 700;
  transform: scale(1, .90);
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16pt;
}



input[type=text], input[type=password] {
  font-size: 14pt;
  padding: 0px 10px;
  box-sizing: border-box;
}

input[type=submit] {
  font-size: 16pt;
  width: 400px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: #336799;
  color: white;
}

.session-input {
  width: 400px;
  height: 50px;
  margin: 10px;
}

.footer {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 25px;
}